section.consortium {
  @include outer-container;

  .hero {
    margin-top: em(20);
    margin-bottom: em(20);
    padding: .75em;
    background-color: white;
    box-shadow: 0 1px 4px 1px $light-gray;

    h1 {
      text-align: center;
      margin-bottom: em(10);
    }

    @include media($medium-screen) {
      @include span-columns(12);
      float: none;
      margin-top: em(40);
      padding-left: 3em;
      padding-right: 3em;
    }

  }
  
  article {
    .research-group {
      @include clearfix;
      margin-bottom: em(40);
      h3 {
        font-size: $base-font-size * 1.2;
      }
    }
  }
}
