article.custom404 {
  @include outer-container;
  margin-left: em(20);
  margin-right: em(20);
  @include media($medium-screen) {
    margin-left: auto;
    margin-right: auto;
  }
 h1 {
   font-size: $base-font-size * 1.3;
   @include media($medium-screen) {
     font-size: $base-font-size * 2;
   }
 }
}
