section.news-item {
  @include outer-container;

  article {
    @include span-columns(12);

    h1 {
      text-align: left;
    }

    footer {
      font-style: italic;
    }

    .content {
      @include media($medium-screen) {
        @include span-columns(8 of 12);
      }
    }

    aside {
      @include media($medium-screen) {
        @include span-columns(4 of 12);
        @include omega();

        img {
          float: right;
        }
      }
    }
  }
}
