section.news {

  article {

    h1 { 
      font-size: $base-font-size * 1.3;
      text-align: left;
      @include media($medium-screen) {
        font-size: $base-font-size * 1.5;
      }
    }
    p {
      margin-top: em(10);
    }
    a.readmore { 
      text-decoration: underline;
    }

    footer {
      font-style: italic;
    }
  }
}
