article.news-item {

  h1 {
    text-align: left;
    font-size: $base-font-size * 1.3;
    @include media($medium-screen) {
      font-size: $base-font-size * 1.6;
    }
  }

  h2 {
    @include media($medium-screen) {
      font-size: $base-font-size * 1.3;
      margin-bottom: em(16);
      margin-top: em(24);
    }
  }

  footer {
    font-style: italic;
  }

  .content {
    @include media($medium-screen) {
      @include span-columns(8 of 12);
    }
    ul {
      @extend %default-ul;
    }
  }

  aside {
    display: none;
    @include media($medium-screen) {
      @include span-columns(4 of 12);
      @include omega();

      img {
        float: right;
      }
    }
  }
}
