section.people-detail {
  @include outer-container;

  article {
    
    h1 {
      text-align: left;
      font-size: $base-font-size * 1.6;
    }


    .content {
      @include media($medium-screen) {
        @include span-columns(8);
        @include shift(-12);
      }
    }


    aside {
      @include media($medium-screen) {
        @include span-columns(4);
        @include shift(8);
      }
      img {
        margin-bottom: em(20);
        @include media($medium-screen) {
          float: right;
        }
      }
    }

    h2 {
      margin-top: em(20);
      margin-bottom: em(10);
      @include media($medium-screen) {
        font-size: $base-font-size * 2;
        text-align: left;
      }
    }
    ul {
      margin-top: em(10);
    }
    li {
      margin-bottom: 1em;
      @include media($medium-screen) {
        line-height: .5em;
      }
    }
  }
}

