section.people-detail {
  @include outer-container;

  article {
    @include span-columns(12);
    
    h1 {
      text-align: left;
    }


    .content {
      @include media($medium-screen) {
        @include span-columns(8 of 12);
      }
    }


    aside {
      @include media($medium-screen) {
        @include span-columns(4 of 12);
        @include omega();

        img {
          float: right;
        }
      }
    }

    h2 {
      margin-top: em(20);
      margin-bottom: em(10);
      @include media($medium-screen) {
        font-size: $base-font-size * 2;
        text-align: left;
      }
    }
    ul {
      margin-top: em(10);
    }
    li {
      margin-bottom: 1em;
      line-height: .5em;
    }
  }
}

