section.publications {
  @include outer-container;

  .theme {
    background: white;
    padding: 2em;
    overflow: hidden;
    margin-top: em(20);
    margin-bottom: em(40);
    box-shadow: 0 1px 4px 1px $light-gray;

    h2 {
      margin-bottom: em(10);
      font-size: $base-font-size *1.2;
      @include media($medium-screen) {
        font-size: $base-font-size * 2;
      }
    }
  }
}
