section.research_theme {
  @include outer-container;

  article {
    margin-top: em(40);
    padding: 3em;
    @include clearfix;
    h1 {
     text-align: left;
     margin-top: 0;
    }

    header {
      margin-top: 0;
    }

    li {
     line-height: $base-line-height * .5;
    }

    .content {
      @include media($medium-screen) {
        @include span-columns(8);
      }
    }
  }
}
