article.sitemap {
  @include outer-container;
  margin-left: em(20);
  margin-right: em(20);
  @include media($medium-screen) {
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    @extend %default-ul;
  }
}
