button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em; }

html, body {
  height: 100%; }

.push {
  height: 17em; }
  @media screen and (min-width: 53.75em) {
    .push {
      height: 4em; } }

.texture {
  height: 5em;
  width: 100%; }

.texture-normal {
  background: url("https:\a//raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/groovepaper.png"), -webkit-linear-gradient(180deg, #e1f2f1, #d9eeed), center no-repeat #e1f2f1 scroll;
  background: url("https:\a//raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/groovepaper.png"), linear-gradient(180deg, #e1f2f1, #d9eeed), center no-repeat #e1f2f1 scroll; }

header.navigation {
  background-color: #116239;
  border-bottom: 1px solid #0a361f;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 40em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 40em) {
      header.navigation .nav {
        float: left; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 40em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #116239;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 40em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 400;
      display: inline-block;
      color: rgba(255, 255, 255, 0.7); }
      @media screen and (min-width: 40em) {
        header.navigation ul li a {
          padding-right: 1em; } }
      header.navigation ul li a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  header.navigation li.more {
    padding-right: 0; }
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 40em) {
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  header.navigation li.more a {
    padding-right: .8em; }
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 40em) {
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 40em) {
        header.navigation .submenu li {
          line-height: 46.15385px; }
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      header.navigation .submenu li a {
        text-align: right;
        background-color: #0f5531;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 40em) {
          header.navigation .submenu li a {
            width: 12em;
            background-color: #116239;
            text-align: left;
            padding-left: 1em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 13px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #477DCA;
    border-radius: 0.1875em;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 40em) {
      header.navigation a.sign-up {
        padding: .4em 1em; } }
    header.navigation a.sign-up:hover {
      background: #6f99d5; }
  header.navigation .search-bar {
    padding: 13px 5px;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #157745;
        border: 1px solid #0d4c2c;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 0.375em;
        margin: 0; }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #0d6b3b;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #3bd184;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #1da35e;
        background-image: -webkit-linear-gradient(#1da35e, #0e7942);
        background-image: linear-gradient(#1da35e, #0e7942);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #075c31;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #28b16b;
          cursor: pointer;
          background-color: #1c8a52;
          background-image: -webkit-linear-gradient(#1c8a52, #0d6b3b);
          background-image: linear-gradient(#1c8a52, #0d6b3b); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #0d6b3b;
          box-shadow: inset 0 0 8px 4px #0c5d33, inset 0 0 8px 4px #0c5d33; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 40em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

section.home {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.home:after {
    content: "";
    display: table;
    clear: both; }
  section.home .hero {
    background: -webkit-linear-gradient(10deg, #00a643, #00a651), no-repeat #00a651 scroll;
    background: linear-gradient(10deg, #00a643, #00a651), no-repeat #00a651 scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 1.25em;
    margin-bottom: 3.75em;
    padding-bottom: 1em; }
    @media screen and (min-width: 40em) {
      section.home .hero {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        section.home .hero:last-child {
          margin-right: 0; } }
    section.home .hero .hero-logo img {
      float: left; }
    section.home .hero .hero-inner {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      padding: 3em;
      padding-bottom: 1em;
      margin: auto;
      text-align: center;
      color: white; }
      section.home .hero .hero-inner:after {
        content: "";
        display: table;
        clear: both; }
      section.home .hero .hero-inner:after {
        content: "";
        display: table;
        clear: both; }
      section.home .hero .hero-inner button {
        border: 1px solid #005f2e;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #0ae977;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #00a651;
        background-image: -webkit-linear-gradient(#00a651, #006e36);
        background-image: linear-gradient(#00a651, #006e36);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #004a24;
        background-clip: padding-box;
        font-size: 1em;
        outline: none; }
        section.home .hero .hero-inner button:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #07b95e;
          cursor: pointer;
          background-color: #038a45;
          background-image: -webkit-linear-gradient(#038a45, #005f2e);
          background-image: linear-gradient(#038a45, #005f2e); }
        section.home .hero .hero-inner button:active:not(:disabled), section.home .hero .hero-inner button:focus:not(:disabled) {
          border: 1px solid #005f2e;
          box-shadow: inset 0 0 8px 4px #004f27, inset 0 0 8px 4px #004f27; }
        section.home .hero .hero-inner button:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
      section.home .hero .hero-inner .hero-copy {
        text-align: center; }
        section.home .hero .hero-inner .hero-copy h1 {
          font-size: 1.6em;
          margin-bottom: .5em; }
          @media screen and (min-width: 53.75em) {
            section.home .hero .hero-inner .hero-copy h1 {
              font-size: 1.8em; } }
        section.home .hero .hero-inner .hero-copy p {
          font-family: "Roboto", Georgia, Cambria, "Times New Roman", Times, serif;
          margin: auto;
          margin-bottom: 3em;
          font-weight: 200;
          line-height: 1.4em; }
          @media screen and (min-width: 40em) {
            section.home .hero .hero-inner .hero-copy p {
              font-size: 1.1em; } }
  section.home .news {
    margin-top: 1.25em;
    background-color: white;
    box-shadow: 0 1px 4px 1px #DDD; }
    @media screen and (min-width: 40em) {
      section.home .news {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0;
        min-height: 283px; }
        section.home .news:last-child {
          margin-right: 0; } }
    section.home .news .news-inner {
      padding-top: .75em;
      padding-bottom: .75em; }
      section.home .news .news-inner h2 {
        font-size: 1.2em;
        text-align: center; }
        @media screen and (min-width: 40em) {
          section.home .news .news-inner h2 {
            font-size: 2em; } }
      section.home .news .news-inner p {
        margin-left: 1.75em;
        margin-top: 0.625em; }
        @media screen and (min-width: 40em) {
          section.home .news .news-inner p {
            padding-left: 1em; } }
  section.home .bullets {
    margin-top: 2.5em;
    margin-bottom: 1.5em; }
    section.home .bullets:after {
      content: "";
      display: table;
      clear: both; }
    section.home .bullets .two-col-bullet {
      background: white;
      padding: 1em;
      box-shadow: 0 1px 4px 1px #DDD; }
      @media screen and (min-width: 53.75em) {
        section.home .bullets .two-col-bullet {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          section.home .bullets .two-col-bullet:last-child {
            margin-right: 0; }
          section.home .bullets .two-col-bullet:nth-child(2n) {
            margin-right: 0; }
          section.home .bullets .two-col-bullet:nth-child(2n+1) {
            clear: left; } }
    @media screen and (min-width: 53.75em) {
      section.home .bullets .three-col-bullet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        section.home .bullets .three-col-bullet:last-child {
          margin-right: 0; }
        section.home .bullets .three-col-bullet:nth-child(3n) {
          margin-right: 0; }
        section.home .bullets .three-col-bullet:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 53.75em) {
      section.home .bullets .four-col-bullet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section.home .bullets .four-col-bullet:last-child {
          margin-right: 0; }
        section.home .bullets .four-col-bullet:nth-child(4n) {
          margin-right: 0; }
        section.home .bullets .four-col-bullet:nth-child(4n+1) {
          clear: left; } }
    section.home .bullets .bullet-icon {
      float: left;
      background: #477DCA;
      padding: 0.875em;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em; }
    section.home .bullets .bullet-icon-1 {
      background: #477DCA; }
    section.home .bullets .bullet-icon-2 {
      background: #47caaa; }
    section.home .bullets .bullet-icon-3 {
      background: #a9ca47; }
    section.home .bullets .bullet-content {
      margin-left: 4.9em;
      margin-bottom: 2em; }
    section.home .bullets h2 {
      font-size: 1.4em;
      padding-top: 0.5em;
      margin-bottom: 0.58333em;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      display: inline-block; }

section.about {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.about:after {
    content: "";
    display: table;
    clear: both; }
  section.about .hero {
    margin-top: 2.5em; }
  section.about button {
    border: 1px solid #005f2e;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #0ae977;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #00a651;
    background-image: -webkit-linear-gradient(#00a651, #006e36);
    background-image: linear-gradient(#00a651, #006e36);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #004a24;
    background-clip: padding-box;
    font-size: 1em;
    margin-top: 0.625em;
    outline: none; }
    section.about button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #07b95e;
      cursor: pointer;
      background-color: #038a45;
      background-image: -webkit-linear-gradient(#038a45, #005f2e);
      background-image: linear-gradient(#038a45, #005f2e); }
    section.about button:active:not(:disabled), section.about button:focus:not(:disabled) {
      border: 1px solid #005f2e;
      box-shadow: inset 0 0 8px 4px #004f27, inset 0 0 8px 4px #004f27; }
    section.about button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  section.about .bullets {
    margin-top: 2.5em;
    margin-bottom: 1.5em; }
    section.about .bullets:after {
      content: "";
      display: table;
      clear: both; }
    section.about .bullets .two-col-bullet {
      background: white;
      padding: 1em;
      box-shadow: 0 1px 4px 1px #DDD; }
      @media screen and (min-width: 53.75em) {
        section.about .bullets .two-col-bullet {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          section.about .bullets .two-col-bullet:last-child {
            margin-right: 0; }
          section.about .bullets .two-col-bullet:nth-child(2n) {
            margin-right: 0; }
          section.about .bullets .two-col-bullet:nth-child(2n+1) {
            clear: left; } }
    @media screen and (min-width: 53.75em) {
      section.about .bullets .three-col-bullet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        section.about .bullets .three-col-bullet:last-child {
          margin-right: 0; }
        section.about .bullets .three-col-bullet:nth-child(3n) {
          margin-right: 0; }
        section.about .bullets .three-col-bullet:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 53.75em) {
      section.about .bullets .four-col-bullet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section.about .bullets .four-col-bullet:last-child {
          margin-right: 0; }
        section.about .bullets .four-col-bullet:nth-child(4n) {
          margin-right: 0; }
        section.about .bullets .four-col-bullet:nth-child(4n+1) {
          clear: left; } }
    section.about .bullets .bullet-icon {
      float: left;
      background: #477DCA;
      padding: 0.875em;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em; }
    section.about .bullets .bullet-icon-1 {
      background: #477DCA; }
    section.about .bullets .bullet-icon-2 {
      background: #47caaa; }
    section.about .bullets .bullet-icon-3 {
      background: #a9ca47; }
    section.about .bullets .bullet-content {
      margin-left: 4.9em;
      margin-bottom: 2em; }
    section.about .bullets h2 {
      font-size: 1.4em;
      padding-top: 0.5em;
      margin-bottom: 0.58333em;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      display: inline-block; }

section.people {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.people:after {
    content: "";
    display: table;
    clear: both; }
  section.people .lead {
    margin-bottom: 1.25em;
    padding: .75em;
    background-color: white;
    box-shadow: 0 1px 4px 1px #DDD;
    overflow: hidden; }
    section.people .lead h1 {
      text-align: center;
      margin-bottom: 0.625em; }
    @media screen and (min-width: 40em) {
      section.people .lead {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-top: 2.5em;
        padding-left: 3em;
        padding-right: 3em; }
        section.people .lead:last-child {
          margin-right: 0; } }
  section.people .member {
    background-color: white;
    padding: 0.625em;
    box-shadow: 0 1px 4px 1px #b4b6a9,2px 2px 1px 0 #fff inset;
    margin-bottom: 1.25em; }
    @media screen and (min-width: 40em) {
      section.people .member {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section.people .member:last-child {
          margin-right: 0; }
        section.people .member:nth-child(4n) {
          margin-right: 0; }
        section.people .member:nth-child(4n+1) {
          clear: left; } }
    section.people .member h5 {
      font-size: 18px;
      border-bottom: 1px solid #cfd1c6;
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-align: center; }

.footer-2 {
  background: #116239;
  padding: 1.5em;
  padding-bottom: 1em;
  overflow: auto;
  width: 100%; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

/*# sourceMappingURL=all.css.css.map */
