@charset "utf-8";

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'partials/layout';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/mission';
@import 'partials/people';
@import 'partials/people-detail';
@import 'partials/research';
@import 'partials/research_theme';
@import 'partials/publications';
@import 'partials/dutch';
@import 'partials/contact';
@import 'partials/news';
@import 'partials/news-item';
@import 'partials/footer';
@import 'partials/custom404';
@import 'partials/sitemap';
