@charset "utf-8";

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'partials/layout';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/about';
@import 'partials/consortium';
@import 'partials/people';
@import 'partials/people-detail';
@import 'partials/research';
@import 'partials/research_theme';
@import 'partials/publications';
@import 'partials/footer';
