<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">24 Hours of Communication Science</a>
  </div>
  <header>
    <h1>24 Hours of Communication Science - 3 February 2015</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-2-12 15:52">12 Februari 2015</time></p>
  </footer>
  <div class="content">
    <p><a href="/sarah-van-leuven.html">Sarah Van Leuven</a> presented the research design of the project
"(De)constructing Health News" at the University of Antwerp, Belgium, during
the annual ‘24 Hours of Communication Sciences’. She focused on the
innovative potential of the project in terms of its start-to-end approach
and transdisciplinary perspective.</p>
  </div>
</article>

