<section class="custom404">
  <header>
    <h1>Oops, the page was not found</h1>
  </header>
  <article>
    <p>Bummer, the page you were looking for does not exist or has changed it's name</p>
    <p>You might take a look at our <a href="/sitemap.html">sitemap</a></p>
  </article>
</section>
