---
title: "Audience Research"
description: "The audience-oriented research line is to be situated at the receiver’s end of the health discourse chain."
---

<article>
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Audience Research</a>
  </div>
  <header>
    <h1>Audience Research</h1>
  </header>
  <div class="content">
    <p>The audience-oriented research line is to be situated at the receiver’s end of the health discourse chain.</p>
    <p>Focus group interviews allow to investigate how the audience perceives, interprets and trusts the various types of mediated discourses on health-related issues in their everyday lives, brought to them by the media and other institutional stakeholders.</p>
    <p>The qualitative audience research provides valuable insights in issues of health literacy and the social demand for transparent information on health issues.</p>
    <h2>Researchers</h2>
    <ul>
      <li><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></li>
      <li><a href="/stijn-joye.html">Stijn Joye</a></li>
      <li><a href="/violetta-jitomirskaya.html">Violetta Jitomirskaya</a></li>
    </ul>
  </div>
</article>
