<section class="consortium">
  <div class="hero">
    <h1>Consortium</h1>
    <p>The Health, Media &amp; Society group brings together for the first time the complementary expertise of leading Ghent University research centres in the areas of communication science and journalism, media discourse analysis, health sociology and health communication and, likewise, it will consider the achievements from the different perspectives of the disciplines that we represent.</p>
  </div>
  <article>
      <h2>Department of Sociology</h2>
      <div class="research-group">
      <p>Health and Demographic Research</p>
      <p><a href="/people-detail.html">Professor Piet Bracke, PhD</a></p>
    </div>
  </article>
  <article>
    <h2>Department of Linguistics</h2>
    <div class="research-group">
      <h3>NewsTalk&amp;Text</h3>
      <p><a href="/people-detail.html">Professor Geert Jacobs, PhD</a><br />
    (doctoral candidate)</p>
    </div>
  </article>
  <article>
      <h2>Department of Communication Studies</h2>
      <div class="research-group">
      <img src="images/kubussen_200x200.png" alt="logo center for journalism studies" />
      <h3>Center for Journalism Studies</h3>
      <p><a href="#">Professor Karin Raeymaeckers, PhD</a><br />
      <a href="#">Professor Stijn Joye, PhD</a><br />
      <a href="#">Sarah Van Leuven, PhD</a><br />
      (doctoral candidate)</p>
      </div>
      <div class="research-group">
      <img src="images/logo-cims-200x70.png" alt="logo center for cinema studies" />
      <h3>Centre for Cinema and Media Studies</h3>
      <p><a href="#">Professor Daniël Biltereyst, PhD</a><br />
      <a href="#">Professor Stijn Joye, PhD</a><br />
      (doctoral candidate)</p>
      </div>
  </article>
  <article>
    <h2>Department of Family Medicine and Primary Health Care</h2>
    <p><a href="#">Professor Thierry Christiaens, MD, PhD</a></p>
    <h2>
  </article>
</section>
