---
title: "Daniël Biltereyst"
description: "Daniel Biltereyst is Full Professor in Film and Media Studies at the Communication Studies Department at Ghent University" 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Daniël Biltereyst</a>
    </div>
    <header>
      <h1>Daniël Biltereyst</h1>
    </header>
    <aside>
    <img src="images/daniel-biltereyst.png" alt="daniel biltereyst" />
    </aside>
    <div class="content">
      <p>Daniel Biltereyst is Full Professor in Film and Media Studies at the Communication Studies Department at Ghent University, in addition to being Director of the Centre for Cinema and Media Studies (CIMS), a member of Health, Media &amp; Society and the spokesperson of the research project “(De)constructing Health News”. </p>
      <p>He has been a visiting professor at the Université Paris II (Panthéon Assas), the Copenhagen University and the Brno Masaryk University. His work deals with media and the public sphere, more specifically with film and screen culture as sites of controversy, public debate and moral/media panic.</p>
      <p>Biltereyst is Series Editor of the Film and Television Studies series (with Ph. Meers), the author of several books, and editor of various collections. He is also the author of over 250 articles in edited volumes and journals, including publications in Cultural Studies, European Journal of Cultural Studies, European Journal of Communication, Media, Culture and Society, New Media &amp; Society, and Screen. He was also one of the (founding) members of the board of the Flemish film fund (Vlaams Audiovisueel Fonds/VAF, 2001-9).</p>
      <h2>Research</h2>
      <ul>
        <li><a href="/audience-research.html">Audience Research</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/person/801001046748">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:Daniel.Biltereyst@UGent.be">Daniel.Biltereyst@UGent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:003292646864">+32 (0)9 264 68 64</a><br />
    <i class="fa fa-home left"></i> Korte Meer 11, 9000 Ghent (Belgium) 
      </p>
    </div>
  </article>

