---
title: "Geert Jacobs"
description: "Geert Jacobs is a member of the research groups Health, Media &amp; Society and News, Talk &amp; Text " 
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Geert Jacobs</a>
    </div>
    <header>
      <h1>Geert Jacobs</h1>
    </header>
    <aside>
    <img src="images/no-image-placeholder.png" />
    </aside>
    <div class="content">
      <p>Geert Jacobs received a PhD in Linguistics in 1997 from the University of Antwerp, where he wrote a dissertation on the metapragmatics of press releases. </p>
      <p>He teaches English business communication at the Department of Linguistics at Ghent University and he is a member of the research groups Health, Media &amp; Society and News, Talk &amp; Text (NT&amp;T). His research focuses on the study of professional and institutional discourse in a pragmatic perspective, with special interest in news production processes.</p>
      <p>Geert has published research articles in the Journal of Pragmatics, Text, Text &amp; Talk, Public Relations Review, Pragmatics, Document Design and the Journal of Sociolinguistics. In addition, he has co-edited volumes on the Pragmatics of Crisis, Language, Communication and the Economy, Discourse in Organizations, the Discourse of News Management and Linguistic Ethnography and Institutions.</p>
      <h2>Research</h2>
      <ul>
        <li><a href="/news-story-lifecycle-analysis.html">News story lifecycle analysis</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22geert+jacobs%22">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="geert.jacobs@ugent.be">geert.jacobs@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="32092643529">+32 (0)9 264 35 29</a><br />
      <i class="fa fa-home left"></i> Department of Linguistics<br />
Tweekerkenstraat 2, 9000 Ghent (Belgium)
    </div>
  </article>
</section>

