---
title: "Health, Media &amp; Society"
description: "Health, Media &amp; Society is a research centre at Ghent University" 
---

<section class="home">
  <div class="hero">
    <div class="hero-inner">
        <span class="hero-logo"><img src="/images/logo-without-text.png" /></span>
      <div class="hero-copy">
        <h1>Health, Media &amp; Society</h1>
        <p>Health, Media &amp; Society is a research centre at Ghent University that was created in 2014 in response to the research project "(De)constructing Health News". </p>	
      </div>
      <form action="/about.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p>17-06-2014 <a href="/news-item.html">News title</a><br />
      news summary
      </p>
      <p>17-06-2014 <a href="#">News title</a><br />
      news summary
    </div>
  </div>
  <div class="bullets">
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-without-text.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="/research_theme.html">Stakeholder analysis</a></h2>
        <p>The organizations that are active in the broad field of health issues in flanders. the emphasis is on the political-economic and institutional relations between a well-designed set of stakeholders &hellip; <a href="/research_theme.html">Read More</a>.</p>
        </div>
    </div>  
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-without-text.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="#">News story lifecycle analysis</a></h2>
        <p>The lifecycle of news stories on health issues as they travel back and forth among the stakeholders. In particular, taking a case-oriented, multi-sited linguistic ethnographic approach &hellip; <a href="#">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="bullets">
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-without-text.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="#">News sourcing, frame and discourse analysis</a></h2>
        <p>This research line focuses on the final news content by monitoring how a wide range of Flemish news media cover health-related information. &hellip; <a href="#">Read More</a></p>
        </div>
    </div>  
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-without-text.png" alt="">
      </div>
      <div class="bullet-content">
        <h2><a href="#">News story lifecycle analysis</a></h2>
        <p>Focus group interviews allow to investigate how the audience perceives, interprets and trusts the various types of mediated discourses on health-related issues in their everyday lives &hellip; <a href="#">Read More</a></p>
      </div>
    </div>
  </div>
</section>
 <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
  </script>

