---
title: "Health, Media &amp; Society"
description: "Health, Media &amp; Society is a research centre at Ghent University" 
priority: 1.0
---

<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
        <span class="hero-logo"><img src="/images/logo-without-text-126x194.png" /></span>
      <div class="hero-copy">
        <h1>Health, Media &amp; Society</h1>
        <p>Health, Media &amp; Society is a research centre at Ghent University created in response to the project "(De)constructing Health News".</p><p>Based on a collaboration between communication studies, sociolinguistics, sociology and medical science, the focus is set on the question how news media construct health issues.</p>	
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p><a href="/kick-off-deconstructing-health-news.html">Kick-off “(De)constructing health news”</a><br />
      posted on <time>9 September 2014</time></p>
      <p>On the 1st of October 2014, Health, Media &amp; Society has been officially launched.</p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div class="bullets">
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="/research_theme.html">Stakeholder analysis</a></h2>
        <p>This research line aims to chart the organizations that are active in the broad field of health issues in Flanders.</p>
        <p>Secondly, it explores the discourses on health problems as articulated by these various interest groups.</p>
        </div>
    </div>  
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="#">News story lifecycle analysis</a></h2>
        <p>The second line of research focuses on the (production) lifecycle of news stories on health issues as they travel back and forth among the stakeholders</p>
      </div>
    </div>
  </div>
  <div class="bullets">
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="#">News sourcing, frame and discourse analysis</a></h2>
        <p>This research line focuses on the final news content by monitoring how a wide range of Flemish news media cover health-related information.</p>
        </div>
    </div>  
    <div class="bullet two-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="#">News story lifecycle analysis</a></h2>
        <p>The audience-oriented research line is to be situated at the receiver’s end of the health discourse chain.</p>
      </div>
    </div>
  </div>
</section>
 <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
  </script>

