<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Investigating Journalism Practices</a>
  </div>
  <header>
    <h1>Investigating Journalism Practices - 13 November 2014</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-2-12 15:52">12 Februari 2015</time></p>
  </footer>
  <div class="content">
    <p><a href="/jana-declercq.html">Jana Declercq</a>, our PhD student analyzing <a href="/news-story-lifecycle-analysis.html">news story
      lifecycles</a>, presented her research design at the University of Lausanne, Switzerland,
during the workshop ‘Investigating Journalism Practices: from Media
Ethnography to Media Linguistics in the Newsroom’. She was introduced to
some prominent international colleagues also working on news production
processes.</p>
  </div>
</article>
