---
title: "Jana Declercq"
description: "Jana Declercq graduated from the University of Antwerp in 2014 and has a master’s degree in Linguistics."
---

<article class="researcher">
  <div class="breadcrumb">
    <a href="/people.html">People</a>
    <a href="javascript:void(0)">Jana Declercq</a>
  </div>
  <header>
    <h1>Jana Declercq</h1>
  </header>
  <aside>
  <img src="images/jana-declercq.png" alt="jana declercq" />
  </aside>
  <div class="content">
    <p>Jana Declercq graduated from the University of Antwerp in 2014 and has a master’s degree in Linguistics</p>
    <p>For her master thesis, she examined  the pragmatics of sibling interaction, focusing on the use of social control acts and metapragmatic and metalinguistic discourse.</p>
    <p>Jana is currently preparing a PhD under the supervision of Prof. Dr. Geert Jacobs. She aims at analyzing the lifecycle of news stories on elderly-related health issues. In particular, taking a case-oriented, multi-sited linguistic ethnographic perspective, she sets out to investigate the complex discursive practices and professional routines that determine the dissemination and uptake of specific pieces of information on diseases, cures and health enhancement.</p>
    <h2>Research</h2>
    <ul>
      <li><a href="/news-story-lifecycle-analysis.html">News story lifecycle analysis</a></li>
    </ul>
    <h2>Contact</h2>
    <p>
    <i class="fa fa-phone left"></i> <a href="tel:003292649785">0032 (0)9 264 97 85</a><br />
  <i class="fa fa-home left"></i>  
  Department of Linguistics<br />
  Office: Voldersstraat 9, 9000 Ghent (Belgium)<br />
  Postal address: Korte Meer 5, 9000 Ghent (Belgium)</p>
  </div>
</article>

