---
title: "Joyce Stroobant"
description: "Joyce Stroobant earned a Master’s degree in Advanced Linguistics from Ghent University specialising in transitivity and the relation between language and extra-linguistic reality"
---

<article class="researcher">
  <div class="breadcrumb">
    <a href="/people.html">People</a>
    <a href="javascript:void(0)">Joyce Stroobant</a>
  </div>
  <header>
    <h1>Joyce Stroobant</h1>
  </header>
  <aside>
  <img src="images/joyce-stroobant.jpg" alt="joyce stroobant" />
  </aside>
  <div class="content">
    <p>Joyce Stroobant earned a Master’s degree in Advanced Linguistics from Ghent University specialising in transitivity and the relation between language and extra-linguistic reality</p>
    <p>Her PhD, under the supervision of Prof. Dr. Karin Raeymaeckers, will focus on sourcing practices; particularly, Joyce will conduct a large-scale, quantitative content analysis to determine which elderly-related health issues, actors and sources are present in Flemish news media.</p>
    <p>Complementary to this quantitative dimension, she will also develop a more qualitatively oriented frame and discourse analysis based on a subset of the data collected for the content analysis to explore in detail the identified discursive clusters on news that are specifically dealing with elderly-related health issues.</p>
    <h2>Research</h2>
    <ul>
      <li><a href="/news-sourcing-frame-discourse-analysis.html">News sourcing, frame and discourse analysis</a></li>
    </ul>
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:joyce.stroobant@ugent.be">joyce.stroobant@ugent.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:003292649785">0032 (0)9 264 97 85</a><br />
  <i class="fa fa-home left"></i>  
  Department of Communication Studies
  Office: Voldersstraat 9, 9000 Ghent (Belgium)
  Postal address: Korte Meer 11, 9000 Ghent (Belgium)</p>    
  </div>
</article>

