---
title: "Karin Raeymaeckers"
description: "She teaches media structures, journalism, and political communication at the Communication Studies Department at Ghent University, Belgium."
---

  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Karin Raeymaeckers</a>
    </div>
    <header>
      <h1>Karin Raeymaeckers</h1>
    </header>
    <aside>
    <img src="images/karin_raeymaeckers.png" alt="karin raeymaeckers" />
    </aside>
    <div class="content">
      <p>Karin Raeymaeckers is the director of the Center for Journalism Studies (CJS) and of the Journalism section of the Netherlands – Flanders Communication Association (NeFCA). She teaches media structures, journalism, and political communication at the Communication Studies Department at Ghent University, Belgium. She is a member of several international research groups, including the Euromedia Research Group. Karin Raeymaeckers has published several books about the developments in the Belgian media landscape and articles in readers and journals such as Journalism Studies, Journalism Practice, European Journal of Communication and International Communication Gazette.</p>
      <h2>Research</h2>
      <ul>
        <li><a href="/news-story-lifecycle-analysis.html">News story lifecycle analysis</a></li>
        <li><a href="/news-sourcing-frame-discourse-analysis.html">News sourcing, frame and discourse analysis</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/person/801001046748">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:karin.raeymaeckers@ugent.be">karin.raeymaeckers@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:+32 (0)9 264 67 98">tel:+32 (0)9 264 67 98</a><br />
    <i class="fa fa-home left"></i> Korte Meer 7-9-11, 9000 Gent
      </p>
    </div>
  </article>

