<section class="news-item">
  <article>
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Kick-off “(De)constructing health news</a>
    </div>
    <header>
      <h1>Kick-off “(De)constructing health news</h1>
    </header>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
    <div class="content">
      <p>On the 1st of October 2014, Health, Media & Society has been officially launched. In the next four years, our researchers will join efforts around the project "(De)constructing Health News". Drawing on a transdisciplinary partnership between communication sciences, sociolinguistics, medical science and sociology, this project is focused on the coverage of elderly-related health issues with the aim of investigating the impact of the changing mediascape. The research will be conducted by four PhD students under the supervision of 5 supervisors. The coordination of the project is in hands of Sarah Van Leuven.</p>
    </div>
    <aside>
      <img src='/images/logo-hse-250x250.png' />
    </aside>
  </article>
</section>

