<section class="about">
  <div class="hero">
    <h1>About the Health, Media and Society research initiative</h1>
  </div>
  <div class="bullets">
    <div class="bullet one-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-without-text.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Mission</h2>
        <p>Drawing on a transdisciplinary partnership between communication sciences, sociolinguistics, medical science and sociology, Health, Media &amp; Society looks at how the news media cover elderly-related health issues. Applying a holistic or start-to-end approach, we investigate the different interconnected stakeholders that are involved in the ‘chain’ of health news discourses: the pharmaceutical industry; policy-making bodies; health insurance companies; special-interest groups (health consumer organizations; patient support and advocacy organizations; academic research and expert groups; and associations of health professionals); the news media (traditional and online); and the general public.</p>
        </div>
    </div>  
  </div>
</section>
