<section class="news">
  <header>
    <h1>Health, Media &amp; Society News</h1>
  </header>
  <article>
    <h2><a href="/kick-off-deconstructing-health-news.html">Kick-off “(De)constructing health news</a></h1>
    <p>On the 1st of October 2014, Health, Media &amp; Society has been officially launched.</p>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
  </article>
</section>
