<section class="news">
  <header>
    <h1>Health, Media &amp; Society News</h1>
  </header>
  <article>
    <h2><a href="/24-hours-of-communication-science.html">24 Hours of Communication Science - 3 February 2015</a></h2>
    <p>Sarah Van Leuven presented the research design of the project
    "(De)constructing Health News" at the University of Antwerp, Belgium &hellip;</p>
    <footer>
      <p>Posted on <time datetime="2015-2-12 15:52">12 February 2015</time></p>
    </footer>
  </article>
  <article>
    <h2><a href="/investigating-journalism-practices.html">Investigating Journalism Practices - 13 November 2014</a></h2>
    <p>Jana Declercq, our PhD student analyzing news story lifecycles presented her research design at the University of Lausanne, Switzerland &hellip;</p>
    <footer>
      <p>Posted on <time datetime="2015-2-12 15:52">12 February 2015</time></p>
    </footer>
  </article>
  <article>
    <h2><a href="/kick-off-deconstructing-health-news.html">Kick-off “(De)constructing health news</a></h2>
    <p>On the 1st of October 2014, Health, Media &amp; Society has been officially launched.</p>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
  </article>
</section>
