<section class="news">
  <header>
    <h1>Health, Media &amp; Society News</h1>
  </header>
  <article>
    <h1><a href="/news-item.html">Whither the Early Modern State?</a></h1>
    <p>Closing conference of the ERC-funded project “The Mamlukisation of the Mamluk Sultanate (MMS): Political Traditions and State Formation in the 15th-Century Egypt and Syria”, directed by GCGS-member, Professor Jo Van Steenbergen &hellip;<a class="readmore" href="#">Read More</a></p>
    <footer>
      <p>Posted on <time datetime="2014-09-09 15:52">9 September 2014</time></p>
    </footer>
  </article>
  <article>
    <h1>Whither the Early Modern State?</h1>
    <p>Closing conference of the ERC-funded project “The Mamlukisation of the Mamluk Sultanate (MMS): Political Traditions and State Formation in the 15th-Century Egypt and Syria”, directed by GCGS-member, Professor Jo Van Steenbergen.</p>
    <footer>
      <p>Posted on <time datetime="2014-09-09 15:52">9 September 2014</time></p>
    </footer>
  </article>
  <article>
    <h1>Whither the Early Modern State?</h1>
    <p>Closing conference of the ERC-funded project “The Mamlukisation of the Mamluk Sultanate (MMS): Political Traditions and State Formation in the 15th-Century Egypt and Syria”, directed by GCGS-member, Professor Jo Van Steenbergen.</p>
    <footer>
      <p>Posted on <time datetime="2014-09-09 15:52">9 September 2014</time></p>
    </footer>
  </article>
</section>
