<section class="news-item">
  <article>
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Whither the Early Modern State?</a>
    </div>
    <header>
      <h1>Whither the Early Modern State?</h1>
    </header>
    <footer>
      <p>Posted on <time datetime="2014-09-09 15:52">9 September 2014</time></p>
    </footer>
    <div class="content">
      <p>
        Closing conference of the ERC-funded project “The Mamlukisation of the Mamluk Sultanate (MMS): Political Traditions and State Formation in the 15th-Century Egypt and Syria”, directed by GCGS-member, Professor Jo Van Steenbergen.
      </p>
      <p>
      The Ghent Centre for Global Studies is pleased to announce a three-day conference devoted to Late Medieval / Early Modern state formations across Eurasia, to be held at Ghent University (Room Rector Vermeylen, Het Pand, Onderbergen 1) on September 10-12. This conference is organised to bring to a close the ERC-funded project “The Mamlukisation of the Mamluk Sultanate (MMS): Political Traditions and State Formation in the 15th-Century Egypt and Syria” (2009-14).
      </p>
      <p>One of the main goals of the project has been to rethink standard assumptions about the Syro-Egyptian Mamluk Sultanate (1250-1517 CE), about relationships between rulers and ruled and between elite groups and social, economic and symbolic resources in the 9th/15th-century Egypt and Syria in particular. A prosopographical methodology was adopted to analyse the overwhelmingly rich narrative source material, and our approach focused on micro-historical questions related to individual actors and their interactions, and on meso-historical questions regarding the changing nature of social networks and social strategies. These questions were all geared toward a better understanding of 15th-century political realities specific to the Mamluk Sultanate, though our macro-historical consideration of the structural dynamics of Mamluk experience were strongly inspired by compelling non-Mamluk perspectives (Europe and Asia) and theories of late medieval and early modern state formation, from which meaningful parallels can be drawn.
      </p>
    </div>
    <aside>
      <img src='/images/jigsaw-puzzle-250.png' />
    </aside>
  </article>
</section>

