---
title: "News sourcing frame and discourse analysis"
description: "research focussed at the final news content by monitoring how a wide range of Flemish news media cover health-related information."
---

<article>
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">News sourcing, frame and discourse analysis</a>
  </div>
  <header>
    <h1>News sourcing, frame and discourse analysis</h1>
  </header>
  <div class="content">
    <p>This research line focuses on the final news content by monitoring how a wide range of Flemish news media cover health-related information.</p>
    <p>Large-scale quantitative content analysis provides a fine-grained analysis of the media messages and representation of health risks and their societal implications.</p>
    </p>A second focus lies with in-depth exploration of discursive clusters on health news by means of frame analysis as well as discourse analysis.</p>
    <h2>Researchers</h2>
    <ul>
      <li><a href="karin-raeymaeckers.html">Karin Raeymaeckers</a></li>
      <li><a href="stijn-joye.html">Stijn Joye</a></li>
      <li><a href="joyce-stroobant.html">Joyce Stroobant</a></li>
    </ul>
  </div>
</article>
