---
title: "News story lifecycle analysis"
description: "research focussed on the lifecycle of news stories on health issues as they travel back and forth among the stakeholders."
---

<article>
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Stakeholder Analysis</a>
  </div>
  <header>
    <h1>News story lifecycle analysis</h1>
  </header>
  <div class="content">
    <p>The second line of research focuses on the (production) lifecycle of news stories on health issues as they travel back and forth among the stakeholders. </p>
    <p>In particular, taking a case-oriented, multi-sited linguistic ethnographic approach, it sets out to investigate the complex discursive practices and professional routines that determine the dissemination and uptake of specific pieces of health information.</p>
    <p>The objective is to see if the news story lifecycles constitute a linear industry-driven process, or if there are more complex recursive patterns of critical recontextualization at work.</p>
    <h2>Researchers</h2>
    <ul>
      <li><a href="/geert-jacobs.html">Geert Jacobs</a></li>
      <li><a href="/jana-declercq.html">Jana Declercq</a></li>
    </ul>
  </div>
</article>
