---
title: "People"
description: "The research centre is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members."
---

<article class="people">
<header>
  <h1>People</h1>
</header>
  <p>A holistic, start-to-end approach to the way health issues are dealt with in the news media is ambitious and multi-faceted, and it requires a so-called transdisciplinary perspective. The Health, Media &amp; Society group brings together the complementary expertise of Ghent University researchers in the areas of communication studies and journalism, media discourse analysis, health sociology and health communication and, likewise, it will consider the achievements from the different perspectives that we represent.</p>
  <img src="images/health-media-society-researchers.jpg" alt="researchers health media &amp; society" />
</article>
<div class="members">
  <div class="member">
    <a href="/daniel-biltereyst.html"><img src="images/daniel-biltereyst.jpg" alt="daniël biltereyst" /></a>
    <h5><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/piet-bracke.html"><img src="images/piet-bracke.jpg" alt="piet bracke" /></a>
    <h5><a href="/piet-bracke.html">Piet Bracke</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/thierry-christiaens.html"><img src="images/thierry-christiaens.jpg" alt="thierry christiaens" /></a>
    <h5><a href="/thierry-christiaens.html">Thierry Christiaens</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="jana-declercq.html"><img src="images/jana-declercq.jpg" alt="jana declercq" /></a>
    <h5><a href="/jana-declercq.html">Jana Declercq</a></h5>
    <p>PhD researcher</p>
  </div>
  <div class="member">
    <a href="/geert-jacobs.html"><img src="images/geert-jacobs.jpg" alt="geert jacobs" /></a>
    <h5><a href="/geert-jacobs.html">Geert Jacobs</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="violetta-jitomirskaya.html"><img src="images/violetta-jitomirskaya.jpg" alt="violetta jitomirskaya" /></a>
    <h5><a href="/violetta-jitomirskaya.html">Violetta Jitomirskaya</a></h5>
    <p>PhD researcher</p>
  </div>
  <div class="member">
    <a href="/stijn-joye.html"><img src="images/stijn-joye.jpg" alt="stijn joye" /></a>
    <h5><a href="/stijn-joye.html">Stijn Joye</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/karin-raeymaeckers.html"><img src="images/karin-raeymaeckers.jpg" alt="karin raeymaeckers" /></a>
    <h5><a href="/karin-raeymaeckers.html">Karin Raeymaeckers</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="joyce-stroobant.html"><img src="images/joyce-stroobant.jpg"  alt="joyce stroobant"/></a>
    <h5><a href="/joyce-stroobant.html">Joyce Stroobant</a></h5>
    <p>PhD researcher</p>
  </div>
  <div class="member">
    <a href="sarah-van-den-bogaert.html"><img src="images/sarah-van-den-bogaert.jpg" alt="sarah van den bogaert" /></a>
    <h5><a href="/sarah-van-den-bogaert.html">Sarah Van den Bogaert</a></h5>
    <p>PhD researcher</p>
  </div>
  <div class="member">
    <a href="/sarah-van-leuven.html"><img src="images/sarah-van-leuven.jpg" alt="sarah van leuven" /></a>
    <h5><a href="/sarah-van-leuven.html">Sarah Van Leuven</a></h5>
    <p>Postdoctoral Researcher</p>
  </div>
</div>

