---
title: "People"
description: "The research centre is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members."
---

<section class="people">
  <article>
  <header>
    <h1>People</h1>
  </header>
    <p>A holistic, start-to-end approach to the way health issues are dealt with in the news media is ambitious and multi-faceted, and it requires a so-called transdisciplinary perspective. The Health, Media &amp; Society group brings together the complementary expertise of Ghent University researchers in the areas of communication studies and journalism, media discourse analysis, health sociology and health communication and, likewise, it will consider the achievements from the different perspectives that we represent.</p>
  </article>
  <div class="members">
    <div class="member">
      <a href="/people-detail.html"><img src="images/no-image-placeholder.png" /></a>
      <h5>Piet Bracke</h5>
      <p>Professor of Higher Education</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/no-image-placeholder.png" /></a>
      <h5>Daniel Biltereyst</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/sarah-van-leuven.jpg" /></a>
      <h5>Sarah Van Leuven</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/no-image-placeholder.png" /></a>
      <h5>Geert Jacobs</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="/people-detail.html"><img src="images/karin_raeymaeckers.png" /></a>
      <h5>Karin Raeymaeckers</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/stijn-joye.jpg" /></a>
      <h5>Stijn Joye</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/thierry-christiaens.jpg" /></a>
      <h5>Thiery Christiaens</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/sarah-van-den-bogaert.jpg" /></a>
      <h5>Sarah Van den Bogaert</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/joyce-stroobant.jpg" /></a>
      <h5>Joyce Stroobant</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/violetta-jitomirskaya.jpg" /></a>
      <h5>Violetta Jitomirskaya</h5>
      <p>Phd researcher</p>
    </div>
  </div>
</section>

