---
title: "Piet Bracke"
description: "Piet Bracke is a full professor at the Department of Sociology at Ghent University" 
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Piet Bracke</a>
    </div>
    <header>
      <h1>Piet Bracke</h1>
    </header>
    <aside>
    <img src="images/no-image-placeholder.png" />
    </aside>
    <div class="content">
      <p>Piet Bracke is a full professor at the Department of Sociology at Ghent University. He teaches general sociological courses at the undergraduate level: introduction in sociology, sociological research and methods – and more specialized master courses in the sociology of health and illness.</p>
      <p>As a member of the research groups Health, Media &amp; Society and Health and Demographic Research (Hedera), his research focuses on gender issues and the sociology of the family; on sociological epidemiology from a comparative perspective; and on mental health and mental health services.</p>
      <p>At present, he also collaborates in Divorce in Flanders, a Flemish study on the consequences and determinants of marital transitions; in an international survey on the determinants and consequences of stigma, the Stigma In Global Context: Mental Health Study. He is the present president of the European Society of Health and Medical Sociology (ESHMS), member of the Scientific Advisory Board of the European Social Survey; and member of the Board of Governors of Ghent University.</p>
      <h2>Research</h2>
      <ul>
        <li><a href="#">Stakeholder analysis</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22piet+bracke%22">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:piet.bracke@ugent.be">piet.bracke@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="3292646864">+32 (0)9 264 68 64</a><br />
    <i class="fa fa-home left"></i>  
Department of Sociology
Korte Meer 5, 9000 Ghent (Belgium)

      </p>
    </div>
  </article>
</section>
