---
title: "Publications"
description: "Publications by the research multi-disciplinary research centre Health, Media &amp; Society"
---

<section class="publications">
  <header>
  <h1>Publications</h1>
  </header>
  <div class="theme">
    <article class="publication">
      <header>
        <h1>(De)constructing  Health  News. An analysis of the lifecycle of
elderly-related health news stories through multi-sited, linguistic
ethnographic research</h1>
        <p class="date">13 November 2014 | Conference presentation Investigating Journalism Practices</p>
      </header>
      <div class="content">
        <p class="authors">
          Author: <a href="/jana-declercq.html">Jana Declercq</a>
        </p>
      </div>
      <div class="download">
        <form action="/documents/deconstructing-health-news.pptx" method="get">
          <button>Download</button>
        </form>
      </div>
    </article>
    <article class="publication">
      <header>
        <h1>(De)constructing health news: a
transdisciplinary investigation into news media coverage of elderly-related
health issues</h1>
        <p class="date">3 February 2015 | conference presentation Etmaal van de Communicatiewetenschap</p>
      </header>
      <div class="content">
        <p class="authors">Authors: <a href="/sarah-van-leuven.html">Sarah Van Leuven</a>, <a href="stijn-joye.html">Stijn Joye</a>, <a href="daniel-biltereyst.html">Dani&euml;l Biltereyst</a> &amp; <a href="karin-raeymaeckers.html">Karin
          Raeymaeckers</a></p>
      </div>
      <div class="download">
        <form action="/documents/etmaal_2015.pptx" method="get">
          <button>Download</button>
        </form>
      </div>
    </article>
  </div>
</section>
