<section class="publications">
  <div class="hero">
  <h1>Publications</h1>
</div>
  <div class="theme">
    <h2 id="stakeholder"><a href="/research_theme.html">Stakeholder Analysis</a></h2>
    <p>- Berten, H., &amp; Van Rossem, R. (2007, 2007). A case of reciprocal determinism: HIV/AIDS knowlegde and sexual risk behavior among adolescents in Flemish secondary schools. Paper presented at the Referatenboek dag van de sociologie</p>
    <p>- Baerveldt, C., Zijlstra, B., De Wolf, M., Van Rossem, R., &amp; Van Duijn, M. A. J. (2007, 2007). Ethnic boundaries in Belgian and Dutch student's networks. Paper presented at the Proceedings International Sunbelt Social Network Conference &amp; 8th European Social Network Conference</p>
  </div>
  <div class="theme">
    <h2><a href="#">News story lifecycle analysis</a></h2>
    <p>- Berten, H., &amp; Van Rossem, R. (2007, 2007). A case of reciprocal determinism: HIV/AIDS knowlegde and sexual risk behavior among adolescents in Flemish secondary schools. Paper presented at the Referatenboek dag van de sociologie</p>
    <p>- Baerveldt, C., Zijlstra, B., De Wolf, M., Van Rossem, R., &amp; Van Duijn, M. A. J. (2007, 2007). Ethnic boundaries in Belgian and Dutch student's networks. Paper presented at the Proceedings International Sunbelt Social Network Conference &amp; 8th European Social Network Conference</p>
</div>
  <div class="theme">
    <h2><a href="#">News sourcing, frame and discourse analysis</a></h2>
    <p>- Berten, H., &amp; Van Rossem, R. (2007, 2007). A case of reciprocal determinism: HIV/AIDS knowlegde and sexual risk behavior among adolescents in Flemish secondary schools. Paper presented at the Referatenboek dag van de sociologie</p>
    <p>- Baerveldt, C., Zijlstra, B., De Wolf, M., Van Rossem, R., &amp; Van Duijn, M. A. J. (2007, 2007). Ethnic boundaries in Belgian and Dutch student's networks. Paper presented at the Proceedings International Sunbelt Social Network Conference &amp; 8th European Social Network Conference</p>
</div>
  <div class="theme">
    <h2><a href="#">Audience Research</a></h2>
    <p>- Berten, H., &amp; Van Rossem, R. (2007, 2007). A case of reciprocal determinism: HIV/AIDS knowlegde and sexual risk behavior among adolescents in Flemish secondary schools. Paper presented at the Referatenboek dag van de sociologie</p>
    <p>- Baerveldt, C., Zijlstra, B., De Wolf, M., Van Rossem, R., &amp; Van Duijn, M. A. J. (2007, 2007). Ethnic boundaries in Belgian and Dutch student's networks. Paper presented at the Proceedings International Sunbelt Social Network Conference &amp; 8th European Social Network Conference</p>
</div>
</section>
