---
title: "Publications"
description: "Publications by the research multi-disciplinary research centre Health, Media &amp; Society"
---

<section class="publications">
  <header>
  <h1>Publications</h1>
  </header>
  <div class="theme">
    <ul>
      <li><i class="fa fa-download left"></i><a href="documents/etmaal_2015.pptx">etmaal_2015.pptx</a></li>
    </ul>
  </div>
</section>
