<section class="researchthemes">
    <div class="hero">
      <h1>Research</h1>
    </div>
    <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Stakeholder Analysis</h2>
        <p>this research line aims to chart the organizations that are active in the broad field of health issues in flanders. the emphasis is on the political-economic and institutional relations between a well-designed set of stakeholders &hellip; <a href="#">Read More</a>.</p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/people-detail.html">Piet Bracke</a></li>
          <li><a href="/people-detail.html">Thierry Christiaens</a></li>
        </ul>
      </div>
        <p class="publink"><a class="more" href="/research-theme.html">See publications</a></p>
    </div>  
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt=""/>
      </div>
      <div class="bullet-content">
        <h2>News story lifecycle analysis</h2>
        <p>The second line of research focuses on the (production) lifecycle of news stories on health issues as they travel back and forth among the stakeholders. In particular, taking a case-oriented, multi-sited linguistic ethnographic approach &hellip; <a href="#">Read More</a></p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/people-details.html">Geert Jacobs</a></li>
        </ul>
      </div>
      <p class="publink"><a class="more" href="/research-theme.html">See publications</a></p>
    </div>
  </div>
    <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>News sourcing, frame and discourse analysis</h2>
        <p>This research line focuses on the final news content by monitoring how a wide range of Flemish news media cover health-related information. Large-scale quantitative content analysis provides a fine-grained analysis of the media messages and representation of health risks and their societal implications &hellip; <a href="#">Read More</a></p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/people-detail.html">Karin Raeymaeckers</a></li>
        </ul>
      </div>
      <p class="publink"><a class="more" href="/research-theme.html">See publications</a></p>
    </div>  
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt=""/>
      </div>
      <div class="bullet-content">
        <h2>Audience Research</h2>
        <p>The audience-oriented research line is to be situated at the receiver’s end of the health discourse chain. Focus group interviews allow to investigate how the audience perceives, interprets and trusts the various types of mediated discourses on health-related issues in their everyday lives, brought to them by the media and other institutional stakeholders &hellip; <a href="#">Read More</a></p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="#">Stijn Joye</a></li>
          <li><a href="#">Dani&euml;l Biltereyst</a></li>
        </ul>
      </div>
      <p class="publink"><a class="more" href="/research-theme.html">See publications</a></p>
    </div>
  </div>
</section>
 <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
  </script>

