<section class="research_theme">
  <div class="hero">
    <article>
        <h1>Stakeholder Analysis</h1>
        <p>This research line aims to chart the organizations that are active in the broad field of health issues in Flanders. The emphasis is on the political-economic and institutional relations between a well-designed set of stakeholders.</p>
        <p>Secondly, it explores the discourses on health problems as articulated by these various interest groups. Applying a political economy analysis, a stakeholder mapping technique, and a series of elite interviews, the objective is to analyze shifts in public relation and communication practices of the stakeholders with regard to health-related discourses and the underlying political economic structures.</p>
        <p><a class="publink" href="/publications.html#stakeholder">Go to publications</a></p>
    </article>
    <aside>
      <img src='/images/jigsaw-puzzle-250.png' />
    </aside>
  </div>
</section>
