---
title: "Research"
description: "Research themes of the research centre Health, Media &amp; Society"
---

<article class="researchthemes">
  <header>
    <h1>Research</h1>
  </header>
  <p>For more information about our research, please contact our research group coordinator <a href="/sarah-van-leuven">Sarah Van Leuven</a></p>
  </article>
    <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="/stakeholder-analysis.html">Stakeholder Analysis</a></h2>
        <p>This research line aims to chart the organizations that are active in the broad field of health issues in Flanders.</p>
        <p>Secondly, it explores the discourses on health problems as articulated by these various interest groups.</p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/piet-bracke.html">Piet Bracke</a></li>
          <li><a href="/thierry-christiaens.html">Thierry Christiaens</a></li>
        </ul>
      </div>
    </div>  
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="/news-story-lifecycle-analysis.html">News story lifecycle analysis</a></h2>
        <p>The second line of research focuses on the (production) lifecycle of news stories on health issues as they travel back and forth among the stakeholders.</p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/geert-jacobs.html">Geert Jacobs</a></li>
          <li><a href="/jana-declercq.html">Jana Declercq</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">

        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="/news-sourcing-frame-discourse-analysis.html">News sourcing, frame and discourse analysis</a></h2>
        <p>This research line focuses on the final news content by monitoring how a wide range of Flemish news media cover health-related information. </p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/karin-raeymaeckers.html">Karin Raeymaeckers</a></li>
          <li><a href="/stijn-joye.html">Stijn Joye</a></li>
          <li><a href="/joyce-stroobant.html">Joyce Stroobant</a></li>
        </ul>
      </div>
    </div>  
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="/images/logo-small-28x42.png" alt="logo health media &amp; society"/>
      </div>
      <div class="bullet-content">
        <h2><a href="/audience-research.html">Audience Research</a></h2>
        <p>The audience-oriented research line is to be situated at the receiver’s end of the health discourse chain.</p>
        <h3>Researchers</h3>
        <ul>
          <li><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></li>
          <li><a href="/stijn-joye.html">Stijn Joye</a></li>
          <li><a href="/violetta-jitomirskaya.html">Violetta Jitomirskaya</a></li>
        </ul>
      </div>
    </div>
  </div>
 <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
  });
  </script>

