---
title: "Stakeholder Analysis"
description: "This research line aims to chart the organizations that are active in the broad field of health issues in Flanders."
---

<section class="research_theme">
  <div class="hero">
    <article>
        <h1>Stakeholder Analysis</h1>
        <p>This research line aims to chart the organizations that are active in the broad field of health issues in Flanders. The emphasis is on the political-economic and institutional relations between a well-designed set of stakeholders.</p>
        <p>Secondly, it explores the discourses on health problems as articulated by these various interest groups. Applying a political economy analysis, a stakeholder mapping technique, and a series of elite interviews, the objective is to analyze shifts in public relation and communication practices of the stakeholders with regard to health-related discourses and the underlying political economic structures.</p>
        <h2>Researchers</h2>
        <ul>
          <li><a href="#">Piet Bracke</a></li>
          <li><a href="#">Thierry Christiaens</a></li>
        </ul>
        <h2>Publications</h2>
        <p>- Berten, H., &amp; Van Rossem, R. (2007, 2007). A case of reciprocal determinism: HIV/AIDS knowlegde and sexual risk behavior among adolescents in Flemish secondary schools. Paper presented at the Referatenboek dag van de sociologie</p>
        <p>- Baerveldt, C., Zijlstra, B., De Wolf, M., Van Rossem, R., &amp; Van Duijn, M. A. J. (2007, 2007). Ethnic boundaries in Belgian and Dutch student's networks. Paper presented at the Proceedings International Sunbelt Social Network Conference &amp; 8th European Social Network Conference</p>
    </article>
    <aside>
      <img src='/images/jigsaw-puzzle-250.png' />
    </aside>
  </div>
</section>
