---
title: "Sarah Van den Bogaert"
description: "Sarah Van den Bogaert graduated in 2012 as a sociologist at the University of Ghent."
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Sarah Van den Bogaert</a>
    </div>
    <header>
      <h1>Sarah Van den Bogaert</h1>
    </header>
    <aside>
    <img src="images/sarah-van-den-bogaert.jpg" />
    </aside>
    <div class="content">
      <p>Sarah Van den Bogaert graduated in 2012 as a sociologist at the University of Ghent.</p>
      <p>For her master thesis she interviewed elderly about income and loneliness. She also obtained a master’s degree in health prevention and promotion. From October 2013 until September 2014, she has worked as a research assistant at the Research Group TOR of the Free University of Brussels.</p>
      <p>Sarah is currently preparing a PhD under the supervision of Prof. Dr. Piet Bracke. The aim is first to chart the political-economic and institutional relations between the different stakeholders that are active in the broad field of elderly-related health issues in Flanders and secondly, to explore the discourses on elderly-related health problems as articulated by these various interest groups in order to investigate and assess their active contribution to the construction of health news.</p>
      <h2>Research</h2>
      <ul>
        <li><a href="#">Stakeholder analysis</a></li>
      </ul>
      <h2>Contact</h2>
      <p>
    <i class="fa fa-home left"></i>  
    Department of Sociology
    Office: Volderstraat 9, 9000 Ghent (Belgium)<br />
    Postal address: Korte Meer 5, 9000 Ghent (Belgium)</p>    
    </div>
  </article>
</section>

