---
title: "Sarah Van Leuven"
description: "Sarah Van Leuven is the postdoctoral research coordinator of Health, Media &amp; Society." 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Sarah Van Leuven</a>
    </div>
    <header>
      <h1>Sarah Van Leuven</h1>
    </header>
    <aside>
    <img src="images/sarah-van-leuven.jpg" alt="sarah van leuven" />
    </aside>
    <div class="content">
      <p>Sarah Van Leuven is the postdoctoral research coordinator of Health, Media &amp; Society. She is also a member of the Center for <a href="http://www.cjs.ugent.be">Journalism Studies</a> (CJS).</p>
      <p>In 2013, she has finished a PhD on the public sphere and sourcing practices in international news coverage. From September 2013 until August 2014, she has worked at the Ghent University Department of Translation, Interpreting and Communication as a post-doctoral researcher and lecturer in multilingual communication. She has published several articles in journals such as Journalism Practice, Journalism, New Media &amp; Society, and The International Journal of Press/Politics.</p>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22sarah+van+leuven%22">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:sarah.vanleuven@ugent.be">sarah.vanleuven@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:003292649780">+32 (0)9 264 97 80</a><br />
<i class="fa fa-home left"></i> Office: Voldersstraat 9, 9000 Ghent (Belgium)<br />
Postal address: Korte Meer 11, 9000 Ghent (Belgium)
      </p>
    </div>
  </article>

