<section class="sitemap">
  <header>
    <h1>Sitemap</p>
  </header>
  <article>
    <ul>
      <li><a href="/">Health, Media &amp; Society Homepage</a></li>
      <li><a href="/mission.html">Mission</a></li>
      <li><a href="/people.html">People</a>
        <ul>
          <li><a href="/piet-bracke.html">Piet Bracke</a></li>
          <li><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></li>
          <li><a href="/sarah-van-leuven.html">Sarah Van Leuven</a></li>
          <li><a href="/geert-jacobs.html">Geert Jacobs</a></li>
          <li><a href="/karin-raeymaeckers.html">Karin Raeymaeckers</a></li>
          <li><a href="/stijn-joye.html">Stijn Joye</a></li>
          <li><a href="/thierry-christiaens.html">Thierry Christiaens</a></li>
          <li><a href="/sarah-van-den-bogaert.html">Sarah Van den Bogaert</a></li>
          <li><a href="/joyce-stroobant.html">Joyce Stroobant</a></li>
          <li><a href="/violetta-jitomirskaya.html">Violetta Jitomirskaya</a></li>
          <li><a href="/jana-declercq.html">Jana Declercq</a></li>
        </ul>
      </li>
      <li><a href="/research.html">Research</a>
        <ul>
          <li><a href="/stakeholder-analysis.html">Stakeholder Analysis</a></li>
          <li><a href="/news-story-lifecycle-analysis.html">News story lifecycle analysis</a></li>
          <li><a href="/news-sourcing-frame-discourse-analysis.html">News sourcing, frame and discourse analysis</a></li>
          <li><a href="/audience-research.html">Audience Research</a></li>
        </ul>
      </li>

      <li><a href="/publications.html">Publications</a></li>
      <li><a href="/nederlands.html">Nederlands</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </article>
</section>
