<section class="sitemap">
  <header>
    <h1>Sitemap</p>
  </header>
  <article>
    <ul>
      <li><a href="/">Health, Media &amp; Society Homepage</a></li>
      <li><a href="/mission.html">Mission</a></li>
      <li><a href="/people.html">People</a>
        <ul>
          <li>Piet Bracke</li>
          <li>Daniel Biltereyst</li>
          <li>Sarah Van Leuven</li>
          <li>Geert Jacobs</li>
          <li><a href="/people-detail.html">Karin Raeymaeckers</a></li>
          <li>Stijn Joye</li>
          <li>Thierry Christiaens</li>
        </ul>
      </li>
      <li><a href="/research.html">Research</a>
        <ul>
          <li><a href="/research_theme.html">Stakeholder Analysis</a></li>
          <li>News story lifecycle analysis</li>
          <li>News sourcing, frame and discourse analysis</li>
          <li>Audience Research</li>
        </ul>
      </li>

      <li><a href="/publications.html">Publications</a></li>
      <li><a href="/nederlands.html">Nederlands</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </article>
</section>
