---
title: "Stakeholder Analysis"
description: "This research line aims to chart the organizations that are active in the broad field of health issues in Flanders."
---

<article class="research-theme">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Stakeholder Analysis</a>
  </div>
  <header>
    <h1>Stakeholder Analysis</h1>
  </header>
  <div class="content">
    <p>This research line aims to chart the organizations that are active in the broad field of health issues in Flanders. The emphasis is on the political-economic and institutional relations between a well-designed set of stakeholders.</p>
    <p>Secondly, it explores the discourses on health problems as articulated by these various interest groups. Applying a political economy analysis, a stakeholder mapping technique, and a series of elite interviews, the objective is to analyze shifts in public relation and communication practices of the stakeholders with regard to health-related discourses and the underlying political economic structures.</p>
    <h2>Researchers</h2>
    <ul>
      <li><a href="/piet-bracke.html">Piet Bracke</a></li>
      <li><a href="/thierry-christiaens.html">Thierry Christiaens</a></li>
    </ul>
  </div>
  <aside>
    <img src="/images/logo-hse-250x250.png" alt="logo health, media &amp; society" />
  </aside>
</article>
