---
title: "Stijn Joye"
description: "Stijn Joye is an assistant professor at the Department of Communication Studies at Ghent University where he is a member of Health, Media &amp; Society"
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Stijn Joye</a>
    </div>
    <header>
      <h1>Stijn Joye</h1>
    </header>
    <aside>
    <img src="images/stijn-joye.jpg" />
    </aside>
    <div class="content">
      <p>Stijn Joye is an assistant professor at the Department of Communication Studies at Ghent University where he is a member of Health, Media &amp; Society, the Centre for Cinema and Media Studies (CIMS) and the Center for Journalism Studies (CJS). </p>
      <p>Joye is also member of the research group Interdisciplinair Taal en Media Forum (ITMF - AUGent). He was a lecturer at Erasmus University Rotterdam (The Netherlands, 2010-2011) and a Visiting Fellow at London School of Economics and Political Science (UK, 2012).</p>
      <p>Joye teaches courses on communication science and audiovisual communication. His areas of research and publication include international and foreign news, global news agencies, news coverage of disasters, the representation of suffering, and the concept of artistic imitation in film. </p>
      <p>Within ECREA, Joye has been involved as the YECREA Representative (2009-2012) and as a vice-chair (2012-2014) of the International and Intercultural Communication Section. Since 2012, Joye is member of the steering committee of Steunpunt Media - Flemish Policy Research Center (2012-2016, funded by the Flemish government). Joye is currently one of the book review editors for Communications: The European Journal of Communication Research. </p>
      <h2>Research</h2>
      <ul>
        <li><a href="#">Audience Research </a></li>
        <li><a href="#">News sourcing, frame and discourse analysis</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22stijn+joye%22">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:stijn.joye@ugent.be">stijn.joye@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="32092646892">+32 (0)9 264 68 92</a><br />
    <i class="fa fa-home left"></i>  
    Department of Communication Studies<br />
Korte Meer 11, 9000 Ghent (Belgium)</p>
    </div>
  </article>
</section>

