---
title: "Thierry Christiaens"
description: "Thierry Christiaens is a professor at the Department of Family Medicine and Primary Health Care and a member of Health, Media &amp; Society. "
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Thierry Christiaens</a>
    </div>
    <header>
      <h1>Stijn Joye</h1>
    </header>
    <aside>
    <img src="images/thierry-christiaens.jpg" />
    </aside>
    <div class="content">
      <p>Thierry Christiaens is a professor at the Department of Family Medicine and Primary Health Care and a member of Health, Media &amp; Society. </p>
      <p>He has rich experience in health communication to health professionals as director of the Belgian Center of Pharmacotherapeutical Information (BCFI/CBIP). Specifically concerning elderly, he is involved in the production of a Drug Formulary for the very old and in several studies concerning use of psycho-active drugs by the elderly.</p>
      <p>Christiaens has published several articles in journals such as British Journal of Clinical Pharmacology, Lancet, Journal of Nutrition Health &amp; Aging and Journal of Medical Ethics.</p>
      <h2>Research</h2>
      <ul>
        <li><a href="#">Stakeholder analysis</a></li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22stijn+joye%22">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:thierry.christiaens@ugent.be">thierry.christiaens@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="32093322492">+32 (0)9 332 24 92</a><br />
      <i class="fa fa-phone left"></i> <a href="32093323312">+32 (0)9 332 33 12</a><br />
    <i class="fa fa-home left"></i>  
    Department of Family Medicine and Primary Health Care<br />
    De Pintelaan 185 - 6K3, 9000 Ghent (Belgium)</p>
    </div>
  </article>
</section>

