---
title: "vacature postdoctoraal medewerker ugent"
description: "Bij de faculteit Politieke en Sociale Wetenschappen (Universiteit Gent) is een betrekking van voltijds postdoctorale medewerker te begeven" 
---
<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">vacature postdoctoraal medewerker ugent</a>
  </div>
  <header>
    <h1>Vacature Postdoctoraal Medewerker UGent</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2015-7-09">9 juli 2015</time></p>
  </footer>
  <div class="content">
    <p>Bij de faculteit Politieke en Sociale Wetenschappen (Universiteit Gent) is een betrekking van voltijds postdoctorale medewerker voor het BOF-GOA project <strong>(De)constructing health news</strong> te begeven: het betreft een tijdelijke aanstelling voor een termijn van 3 jaar</p>
    <h2>Projectomschrijving</h2>
    <p>Op basis van een transdisciplinaire samenwerking tussen communicatiewetenschappen, sociolinguïstiek, geneeskunde en sociologie, onderzoekt dit project de impact van het fel gewijzigde medialandschap op de nieuwsberichtgeving over gezondheid, met een focus op senioren-gerelateerde thema’s. Vanuit een holistisch perspectief wordt de rol van verschillende stakeholders geanalyseerd: de farmaceutische industrie, beleidsinstanties, nieuwsmedia, belangengroepen en het grote publiek. De projectpromotoren zijn: Prof. dr. Daniël Biltereyst, Prof. dr. Piet Bracke, Prof. dr. Thierry Christiaens, Prof. dr. Geert Jacobs en Prof. dr. Karin Raeymaeckers.</p>
    <h2>Profiel van de kandidaat</h2>
    <ul>
      <li>diploma van doctor op proefschrift in de sociologie, de communicatiewetenschappen, de politieke wetenschappen, de taalkunde of van een gelijkwaardig erkend diploma (aan de diplomavoorwaarden moet voldaan zijn op datum van aanstelling);</li>
      <li>publicaties in tijdschriften die een ruime internationale verspreiding kennen (zoals opgenomen in Web of Science);</li>
      <li>mededelingen of voordrachten op internationale wetenschappelijke conferenties strekken tot aanbeveling;</li>
      <li>aantoonbare ervaring met voornamelijk kwalitatieve onderzoeksmethodes- en onderzoeksdesigns (bijvoorbeeld inhoudsanalyse, participerende observatie, semi-gestructureerde interviews of focusgroepinterviews);</li>
      <li>ervaring met onderzoek in het domein van de politieke economie van de gezondheidszorg of in het domein van mediacommunicatieprocessen strekt tot aanbeveling;</li>
      <li>beschikken over organisatorische vaardigheden en over leidinggevende capaciteiten in een universitaire context, specifiek met betrekking tot projectmanagement.</li>
    </ul>
    <h2>Inhoud van de functie</h2>
    <ul>
      <li>U wordt verwacht een onderzoeksgroep te leiden en het onderzoek van vier jonge doctoraatsstudenten te begeleiden i.s.m. de promotoren van het project;</li>
      <li>U verricht hoogwaardig onderzoek en helpt mee daartoe de middelen te genereren.</li>
    </ul>
    <p>De kandidaturen, met curriculum vitae en een afschrift van het vereiste diploma, moeten ingediend worden bij de Prof. dr. Daniël Biltereyst, Korte Meer 11, 9000 Gent, of per e-mail naar <a href="mailto:Daniel.Biltereyst@UGent.be">Daniel.Biltereyst@UGent.be</a>, uiterlijk op <strong>10 augustus 2015</strong>.</p>
    <p>Datum van indiensttreding: ten vroegste op 15 september 2015.</p>
    <p>Meer informatie kan bekomen worden bij Prof. dr. Daniël Biltereyst (<a href="mailto:Daniel.Biltereyst@UGent.be">Daniel.Biltereyst@UGent.be</a>), Prof. dr. Piet Bracke (<a href="mailto:Piet.Bracke@UGent.be">Piet.Bracke@UGent.be</a>) en/of Prof. dr. Geert Jacobs (<a href="mailto:Geert.Jacobs@UGent.be">Geert.Jacobs@UGent.be</a>).</p>
  </div>
</article>
