---
title: "Violetta Jitomirskaya"
description: "Violetta Jitomirskaya acquired a Master degree in Communication Sciences, specializing in film- and television studies. "
---

<section class="people-detail">
  <article>
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Violetta Jitomirskaya</a>
    </div>
    <header>
      <h1>Violetta Jitomirskaya</h1>
    </header>
    <aside>
    <img src="images/violetta-jitomirskaya.jpg" />
    </aside>
    <div class="content">
      <p>Violetta Jitomirskaya acquired a Master degree in Communication Sciences, specializing in film- and television studies. </p>
      <p>For her master thesis she analyzed television program preferences of diasporic youth from a qualitative perspective. Violetta is currently preparing a PhD under the supervision of prof. dr. Stijn Joye and prof. dr. Daniël Biltereyst. </p>
      <p>The goal is to investigate how the young and senior elderly perceive, interpret and trust various types of mediated discourses on health-related issues in their everyday lives, brought to them by the news media and other stakeholders. </p>
      <p>The study is methodologically rooted in grounded theory and qualitative methodology and starts with a round of pilot interviews followed by two series of focus group interviews with young and senior elderly respondents. </p>
      <h2>Research</h2>
      <ul>
        <li><a href="/audience-research.html">Audience Research</a></li>
      </ul>
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:joyce.stroobant@ugent.be">joyce.stroobant@ugent.be</a><br />
    <i class="fa fa-home left"></i>  
    Department of Communication Studies
    Office: Volderstraat 9, 9000 Ghent (Belgium)<br />
    Postal address: Korte Meer 11, 9000 Ghent (Belgium)</p>
    </div>
  </article>
</section>

